<header>
  <%= render partial: "shared/nav_with_back" , locals: { title: "REGISTER", back_path_local: root_path } %>
</header>

<main class="flex flex-col items-center mt-3 gap-6">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "flex flex-col justify-start gap-6"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.label :name, class: "text-xl" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>
  
    <div class="field">
      <%= f.label :email, class: "text-xl" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>
  
    <div class="field">
      <%= f.label :password, class: "text-xl" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, class: "text-xl" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</main>

