<header>
  <%= render partial: "shared/nav_with_back" , locals: { title: "LOGIN" } %>
</header>
<main class="flex flex-col items-center mt-3 gap-6">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "flex flex-col justify-start gap-6"}) do |f| %>
    <div class="field">
      <%= f.label :email, class: "text-xl" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "text-xl" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field flex flex-row items-center gap-2">
        <%= f.check_box :remember_me, class: "checkbox checkbox-primary" %>
        <%= f.label :remember_me, class: "text-xl" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</main>  
