<%=form_with model: category, url: category_expenses_path(category), method: :get, class: "shadow-sm rounded-md hover:glass min-h-24 h-24 bg-base-100 cursor-pointer"  do %>
  <button type="submit" class="card card-side bg-base-100 rounded-md hover:glass h-full w-full">
    <figure class="h-full">
      <% if File.exists?(category.icon) %>
        <img class="h-full w-32 object-contain" alt="Movie" src="<%= category.icon %>" >
      <% else %>
        <div class="alert alert-warning shadow-lg rounded-md rounded-tr-none rounded-br-none justify-center">
          <div class="items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <span>
              Not found
            </span>
          </div>
        </div>
      <% end %>
    </figure>
    <div class="grow flex flex-col justify-between pt-4 pb-1 pl-1 pr-5">
      <h2 class="card-title text-lg font-medium text-neutral"><%= category.name %></h2>
      <div class="badge badge-outline border-none text-sm font-light text-neutral"><%= category.updated_at.strftime('%d %b %Y') %></div>
    </div>
    <div class="card-actions pt-4 pr-2">
      <span class="font-bold text-neutral">$<%= "#{category.expenses.reduce(0) {|t, e| t + e.amount}}" %></span>
    </div>
  </button>
<% end %>
